@model Cinema.Models.Session

@{
    ViewData["Title"] = "Delete";
}

<h1>Sessões</h1>

<div>
    <h4>Deletar</h4>
    @if (!ViewBag.isDeletable)
    {
        <div class="alert alert-danger" role="alert">
            Sessões só podem ser deletadas com 10 dias de antecedencia a seu inicio.
        </div>
    }
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class="col-sm-10">
            @Model.Date.ToString("dd/MM/yyyy")
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Start)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Start)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.End)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.End)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TicketValue)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TicketValue)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AnimationType)
        </dt>
        <dd class="col-sm-10">
            @ViewBag.AnimationTypes.GetValue(Model.AnimationType)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Audio)
        </dt>
        <dd class="col-sm-10">
            @ViewBag.Audios.GetValue(Model.Audio)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Movie)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Movie.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Room)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Room.Name)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="SessionId" />
        @if (ViewBag.isDeletable)
        {
            <input type="submit" value="Apagar" class="btn btn-danger" />
        }

        <a asp-action="Index">Voltar a lista de Sessões</a>
    </form>
</div>
